
.App {
  min-height: 100vh;
  background-color: #292b37;
  color: #fff;
}
.configurator {
  max-width: 400px;
  padding: 40px 15px;
  margin: 0 auto;
  font: normal 16px Tahoma, Verdana, Segoe, sans-serif;
}
.configurator * {
  box-sizing: border-box;
}
.configurator__title {
  font-size: 27px;
  line-height: 140%;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}
.configurator__descr {
  margin-bottom: 20px;
  color: #8f919b;
  text-align: center;
}
.configurator__row {
  display: block;
}
.configurator__main {
  width: 100%;
  flex: none;
}
.configurator__main img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s;
}
.configurator__content {
  width: 100%;
}
.configurator__item {
  margin-bottom: 12px;
  color: #8f919b;
  display: block;
}
.configurator__item select {
  height: 30px;
  background: #292b37;
  border: 1px solid #8f919b;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
}
.configurator__item p {
  margin: 0;
  margin-bottom: 8px;
}
.configurator__line {
  margin-bottom: 8px;
  gap: 15px;
  display: flex;
  align-items: center;
}
.configurator__item strong {
  font-weight: 600;
}
.configurator__line select {
  flex: 1;
}
.quantity {
  width: 82px;
  display: flex;
  background: transparent;
  border: 1px solid rgb(118, 118, 118);
  line-height: 30px;
}
.quantity input {
  flex: 1;
  width: 100%;
  border: none;
  text-align: center;
  background: transparent;
  color: #fff;
  font-size: inherit;
}
.quantity__btn {
  font-size: 18px;
  font-weight: 700;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.configurator:hover .configurator__main img {
  transform: scale(1.05);
}
.configurator__sum {
  color: #fff;
  padding: 0 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid rgb(118, 118, 118);
  line-height: 19px;
}
.btn-remove-line {
  line-height: 19px;
  padding: 0 10px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid rgb(118, 118, 118);
  cursor: pointer;
}
.btn-add-line {
  padding: 0 15px;
  height: 30px;
  border: 1px solid rgb(118, 118, 118);
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
.btn-add-line strong {
  font-size: 160%;
  margin-right: 10px;
  font-weight: 700;
}
.result-price {
  font: normal 19px Arial;
  margin-top: 18px;
  color: #8f919b;
  text-align: center;
}
.result-price strong {
    font-size: 32px;
    margin-top: 10px;
    color: #ffaa06;
    font-weight: 700;
    display: block;
    text-align: center;
}
.btn-main {
  height: 43px;
  color: #fff;
  background: #ffaa06;
  text-transform: uppercase;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-decoration: none;
  transition: all 0.3s;
}
.btn-main:hover {
    background: #e19503;
}
.configurator .btn-main {
  margin-top: 20px;
}
.modal__feature {
  font-size: 13px;
  margin-bottom: 14px;
}
.modal__feature span {
    color: #8f919b;
}
.item-form {
  margin-bottom: 20px;
}
.item-form input,
.item-form textarea {
  height: 44px;
  padding: 0 15px;
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  border: none;
  outline: none;
}
.item-form textarea {
  height: 100px;
  padding-top: 15px;
  resize: none;
}
.modal__title {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #000;
}
.modal__content {
  padding: 30px;
  width: 500px;
  max-width: 100%;
  border-radius: 5px;
  margin: 0 auto;
  color: #000;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background-color: #f0f0f0;
  position: relative;
  z-index: 2;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal__content .result-price {
  font-size: 16px;
  color: #000;
  text-align: left;
}
.modal__content .result-price strong {
  display: inline;
  font-size: inherit;
  margin: 0;
}
.modal__close {
  top: 10px;
  right: 15px;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  cursor: pointer;
  opacity: 0.2;
  color: #000;
  transition: all 0.3s;
}
.modal__close:hover {
  opacity: 0.5;
}
.modal {
  padding: 25px 15px; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  background: rgba(0, 0, 0, .5);
}
.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width : 768px) {
  .configurator__row { 
    display: block;
  }
  .configurator__image {
    width: 100%;
    padding: 0;
  }
  .configurator__content {
    width: 100%;
    padding: 0;
  }
  .configurator {
    padding: 25px 15px;
  }
  .configurator__title {
    font-size: 22px;
    margin-top: 0;
  }
  .result-price{ 
    margin-top: 18px;
  }
  .modal {
    padding: 15px;
  }
  .modal__content {
    padding: 25px 15px;
  }
}